.title{
  font-family: 'Indie Flower', cursive;
}

.section{
  background-color: aliceblue;
}

.home-slide-images{
  height: 900px;
  width: 1275px;
  padding-left: 125px;
  padding-top: 10px;
}

h1{
  font-weight: 600;
}

.card{
  width: 700px;
  height: 630px;
  margin-left: 10px;
  background-color: white;
}

.profile-card{
  width: 500px;
  height: 900px;
}

.image img {
    display: block;
    height: 400px;
    width: 900px;
}
